*,
::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}

button,
a {
  font: inherit;
  color: inherit;
}

body,
p,
button,
a {
  margin: 0;
  padding: 0;
}

:root {
  --colors-primary: hsl(180, 29%, 50%);
  --colors-secondary: hsl(180, 14%, 20%);
  --colors-main-background: hsl(180, 52%, 96%);
  --colors-filter-tablet: hsl(180, 31%, 95%);
  --colors-skeleton-background: hsl(180, 8%, 80%);
  --colors-sub-text: hsl(180, 8%, 52%);
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --transitions-main: 0.3s ease-in-out;
}

body {
  font: var(--font-weight-bold) 0.9375rem 'League Spartan', sans-serif;
  background-color: var(--colors-main-background);
}

main {
  padding-inline: 2rem;
}

@media (max-width: 480px) {
  main {
    padding-inline: 1rem;
  }
}

.panel {
  border-radius: 5px;
  box-shadow: 0px 8px 28px -12px var(--colors-primary);
  background-color: #fff;
}
